{{ define "main" }}
<!--Note that this template is used for sections as well as taxonomies - unless overridden.-->
<header class='border d-flex justify-content-between'>
    <h1 id="{{.Params.title}}">{{.Params.title}}</h1>
    {{ with .File }}
    <a id="editLink" class="btn btn-primary"  href="{{print $.Site.Params.githubEditMePathBase .Path }}"><i class="fas fa-edit"></i></a>
    {{ end }}
</header>
<main>
    {{partial "default-content" .}}
    <div class="css-treeview box">
        {{ range .Pages}}
        <li>
            {{partial "article-params-card" .}}
        </li>
        {{ end }}
    </div>
</main>
{{ end }}
