{{ define "main" }}
<!--Note that this template is used for sections as well as taxonomies - unless overridden.-->
<header class='border d-flex justify-content-between'>
    <h1 id="{{.Params.title}}">{{.Params.title}}</h1>
    {{ with .File }}
    <a id="editLink" class="btn btn-primary noPrint"  href="{{print $.Site.Params.githubEditMePathBase .Path }}"><i class="fas fa-edit"></i></a>
    {{ end }}
</header>
<main>
    {{partial "default-content" .}}
    <div class="css-treeview box">
        {{ range .Pages }}
        {{/* 1. Check if the page has a file (safety).
        2. Check if the directory path does NOT contain "private". */}}
        {{ if and .File (not (strings.Contains .File.Dir "private")) }}
        <li>
            {{partial "article-params-card" .}}
        </li>
        {{ end }}
        {{ end }}
    </div>
</main>
{{ end }}
