/************************************************************/
@font-face {
    font-family: 'siddhanta-cakravat1';
    font-style: normal;
    font-weight: normal;
    src: url(https://raw.githubusercontent.com/sanskrit-coders/sanskrit-fonts/master/fonts/ttf-devanagari-fonts/siddhanta-variations/siddhanta-cakravat1.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans Devanagari From Github';
    font-style: normal;
    font-weight: normal;
    src: url(https://raw.githubusercontent.com/sanskrit-coders/sanskrit-fonts/master/fonts/ttf-devanagari-fonts/noto/NotoSansDevanagari-Regular.ttf) format('truetype');
}
/************************************************************/

code {
  font-size: 100%;
}


/************************************************************/
