<script src="{{ relURL "webpack_dist/uiLib-bundle.js" }}"></script>

{{ if or .Params.math .Site.Params.math}}
<script>
// See https://docs.mathjax.org/en/latest/options/input/tex.html
// https://docs.mathjax.org/en/latest/options/document.html
MathJax = {
  tex: {
    inlineMath: [ ["@#", "#@"], ["\\(", "\\)"] ],
    displayMath: [ ["$$","$$"], ["\\[", "\\]"] ],
    processEscapes: true,  // use \$ to produce a literal dollar sign
  },
  svg: {
    fontCache: 'global'
  },
  options: {
    ignoreHtmlClass: "tex2jax_ignore|dno"
  }
};
</script>
<script type="text/javascript" id="MathJax-script" async
        src="{{ relURL "non_webpack_js/mathjax/es5/tex-svg.js" }}">
</script>
{{end}}
