<link rel="stylesheet" href="{{ relURL "webpack_dist/uiLib.css" }}">
<link rel="stylesheet" href="{{ relURL "css/uiLibPrint.css" }}" media="print" >
<link rel="stylesheet" href="{{ relURL "css/@fortawesome/fontawesome-free/css/solid.min.css" }}">

<link rel="stylesheet" href="{{ relURL "css/@fortawesome/fontawesome-free/css/fontawesome.min.css" }}">

<!-- Reference: https://support.google.com/webmasters/answer/189077  
 Should correspond to site-header.html options.
 -->
<link rel="alternate" hreflang="sa-Deva" href="{{.Permalink}}" />
<link rel="alternate" hreflang="sa-Deva" href="{{.Permalink}}?transliteration_target=devanagari" />

<link rel="alternate" hreflang="sa-Knda" href="{{.Permalink}}?transliteration_target=kannada" />
<link rel="alternate" hreflang="sa-Mlym" href="{{.Permalink}}?transliteration_target=malayalam" />
<link rel="alternate" hreflang="sa-Telu" href="{{.Permalink}}?transliteration_target=telugu" />
<link rel="alternate" hreflang="sa-Taml-t-sa-Taml-m0-superscript" href="{{.Permalink}}?transliteration_target=tamil_superscripted" />
<link rel="alternate" hreflang="sa-Taml" href="{{.Permalink}}?transliteration_target=tamil" />
<link rel="alternate" hreflang="sa-Gran" href="{{.Permalink}}?transliteration_target=grantha" />

<link rel="alternate" hreflang="sa-Gujr" href="{{.Permalink}}?transliteration_target=gujarati" />
<link rel="alternate" hreflang="sa-Guru" href="{{.Permalink}}?transliteration_target=gurmukhi" />
<link rel="alternate" hreflang="sa-Shar" href="{{.Permalink}}?transliteration_target=sharada" />
<link rel="alternate" hreflang="sa-Dogr" href="{{.Permalink}}?transliteration_target=dogra" />
<link rel="alternate" hreflang="sa-Phag" href="{{.Permalink}}?transliteration_target=phags_pa" />
<link rel="alternate" hreflang="sa-Tibt" href="{{.Permalink}}?transliteration_target=tibetan" />
<link rel="alternate" hreflang="sa-Sidd" href="{{.Permalink}}?transliteration_target=siddham" />
<link rel="alternate" hreflang="sa-Newa" href="{{.Permalink}}?transliteration_target=newa" />
<link rel="alternate" hreflang="sa-Modi" href="{{.Permalink}}?transliteration_target=modi" />
<link rel="alternate" hreflang="sa-Tirh" href="{{.Permalink}}?transliteration_target=tirhuta_maithili" />
<link rel="alternate" hreflang="sa-Gong" href="{{.Permalink}}?transliteration_target=gondi_gujala" />
<link rel="alternate" hreflang="sa-Gonm" href="{{.Permalink}}?transliteration_target=gondi_masaram" />


<link rel="alternate" hreflang="sa-Orya" href="{{.Permalink}}?transliteration_target=oriya" />
<link rel="alternate" hreflang="sa-Beng-t-sa-Beng-m0-assamese" href="{{.Permalink}}?transliteration_target=assamese" />
<link rel="alternate" hreflang="sa-Beng" href="{{.Permalink}}?transliteration_target=bengali" />
<link rel="alternate" hreflang="sa-Mtei" href="{{.Permalink}}?transliteration_target=manipuri" />
<link rel="alternate" hreflang="sa-Sinh" href="{{.Permalink}}?transliteration_target=sinhala" />
<link rel="alternate" hreflang="sa-Limb" href="{{.Permalink}}?transliteration_target=limbu" />
<link rel="alternate" hreflang="sa-Lepc" href="{{.Permalink}}?transliteration_target=lepcha" />


<link rel="alternate" hreflang="sa-Cyrl" href="{{.Permalink}}?transliteration_target=cyrillic" />
<link rel="alternate" hreflang="sa-Latn-t-sa-Zyyy-m0-iso" href="{{.Permalink}}?transliteration_target=iso" />
<link rel="alternate" hreflang="sa-Latn-t-sa-Zyyy-m0-iast" href="{{.Permalink}}?transliteration_target=iast" />
<link rel="alternate" hreflang="sa-Aran" href="{{.Permalink}}?transliteration_target=urdu" />
<link rel="alternate" hreflang="sa-Avst" href="{{.Permalink}}?transliteration_target=avestan" />

<link rel="alternate" hreflang="sa-Brah" href="{{.Permalink}}?transliteration_target=brahmi" />
<link rel="alternate" hreflang="sa-Khar" href="{{.Permalink}}?transliteration_target=kharoshthi" />
<link rel="alternate" hreflang="sa-Zanb" href="{{.Permalink}}?transliteration_target=zanbazar_square" />
<link rel="alternate" hreflang="sa-Bhks" href="{{.Permalink}}?transliteration_target=bhaiksuki" />

<link rel="alternate" hreflang="sa-Bali" href="{{.Permalink}}?transliteration_target=balinese" />
<link rel="alternate" hreflang="sa-Java" href="{{.Permalink}}?transliteration_target=javanese" />
<link rel="alternate" hreflang="sa-Laoo" href="{{.Permalink}}?transliteration_target=lao" />
<link rel="alternate" hreflang="sa-Laoo-t-sa-Laoo-m0-Laopali" href="{{.Permalink}}?transliteration_target=lao_pali" />
<link rel="alternate" hreflang="sa-Mymr" href="{{.Permalink}}?transliteration_target=burmese" />
<link rel="alternate" hreflang="sa-Mymr-t-sa-Mymr-m0-Mon" href="{{.Permalink}}?transliteration_target=mon" />
<link rel="alternate" hreflang="sa-Cham" href="{{.Permalink}}?transliteration_target=cham" />
<link rel="alternate" hreflang="sa-Khmr" href="{{.Permalink}}?transliteration_target=khmer" />
<link rel="alternate" hreflang="sa-Thai" href="{{.Permalink}}?transliteration_target=thai" />
