<!-- p-1 is bootstrap padding class. bg-yellow is from tachyons.-->
<header class="p-1 {{.Site.Params.background_color_class | default "bg-yellow" }} noPrint">
    <nav role="navigation" class="col">
      <div id="div_top_bar" class="row">
        <div class="col-md-3 justify-content-start">
          <a  href="{{ "/" | relURL }}" class="btn col border">
            <i class="fas fa-gopuram ">{{.Site.Title}} <br/> {{.Params.title}}</i>
          </a>
        </div>
        <div id="div_top_bar_right" class="col-md-auto d-flex justify-content-center">
          ✍
          <select id="transliterationDropdown" size="1" onchange="module_uiLib.default.content.updateTransliteration()">
            <optgroup label="🌍">
              <option value="iso">āISO</option>
              <option value="cyrillic">пу</option>
              <option value="urdu">نس</option>
              <option value="??">🌍??</option>
            </optgroup>
            <optgroup label="🛕🧭S">
              <option value="kannada">ಅ</option>
              <option value="malayalam">അ</option>
              <option value="telugu">క</option>
              <option value="tamil_superscripted">க²</option>
              <option value="tamil_extended">க</option>
              <option value="grantha">𑌅</option>
            </optgroup>
            <optgroup label="🛕🧭N">
              <option value="devanagari" selected="">स</option>
              <option value="gujarati">અ</option>
              <option value="gurmukhi">ਅ</option>
            </optgroup>
            <optgroup label="🛕🧭E">
              <option value="oriya">ଅ</option>
              <option value="assamese">অস</option>
              <option value="bengali">অ</option>
            </optgroup>
            <optgroup label="🛕🏺📜">
              <option value="sharada">𑆑𑇀𑆰</option>
              <option value="brahmi">𑀅</option>
            </optgroup>
            <optgroup label="🛕🌋">
              <option value="balinese">ᬩᬮᬶ</option>
            </optgroup>
          </select>
          <a class="btn btn-secondary" onclick="module_uiLib.changeTextSize(2)">A+</a>  
          <a class="btn btn-secondary" onclick="module_uiLib.changeTextSize(-2)">A-</a>
          🗨:
          <select id="commentStyleDropdown" size="1" onchange="module_uiLib.default.content.updateCommentStyleFromDropdown()">
            <option value="on">✔</option>
            <option value="hidden">✗</option>
          </select>
          <div><a id="expandAllButton" class="btn btn-secondary" onclick="module_uiLib.default.query.setParamsAndGo({'expandAll': 'true'})">↕️️</a></div>
          <div><a id="printButton" class="btn btn-secondary" onclick="module_uiLib.default.query.setParamsAndGo({'printLayout': 'on'})">🖨️️</a></div>
        </div>
        <div class="row col  d-flex justify-content-center">
          <div><a id="speakerButton" class="btn btn-secondary" onclick="module_uiLib.default.content.handleSpeakToggle()">🎧️</a></div>
          <button id="speakerPauseButton" class="btn btn-secondary">⏸</button>
        </div>
        <div class="row col  d-flex justify-content-center">
          <a href="{{ .Site.Params.FullSearchUrl  | default "full_search" }}"  class="btn btn-secondary">🥽🔦</a>
          <div><a id="previousPage" href="" class="btn btn-secondary">###<i class="fas fa-caret-left"></i></a></div>
          <div ><a id="nextPage" href="" class="btn btn-secondary"><i class="fas fa-caret-right"></i> ### </a></div>
        </div>
        <ul id="top-bar-right-custom" class="list-group list-group-horizontal">
        </ul>
      </div>
      <div id="audioOptionsDiv" class="row justify-content-center" hidden>
        <select id="voices" class="form-select bg-secondary text-light"></select>
        <div>
          <p class="lead">Vol</p>
          <input type="range" min="0" max="1" value="1" step="0.1" id="volume" />
          <span id="volume-label" class="ms-2">1</span>
        </div>
        <div class="mx-5">
          <p class="lead">Rate</p>
          <input type="range" min="0.1" max="10" value="1" id="rate" step="0.1" />
          <span id="rate-label" class="ms-2">1</span>
        </div>
        <div>
          <p class="lead">Pitch</p>
          <input type="range" min="0" max="2" value="1" step="0.1" id="pitch" />
          <span id="pitch-label" class="ms-2">1</span>
        </div>
      </div>
    </nav>
</header>
