<footer class="{{ .Site.Params.background_color_class | default "bg-yellow" }}  p-1 noPrint" role="contentinfo">
  {{ $contactUrl := .Site.Params.contactLink | default ""}}

  <div id="div_foot_nav_bar" class="row">
    <a href="{{ .Site.Params.FullSearchUrl  | default (print .Site.BaseURL "search") }}"  class="btn btn-light btn-sm">🥽🔦</a>
    <div class="row col  d-flex justify-content-center">
      <div><a id="previousPageFoot" href="" class="btn btn-secondary">###<i class="fas fa-caret-left"></i></a></div>
      <div ><a id="nextPageFoot" href="" class="btn btn-secondary"><i class="fas fa-caret-right"></i> ### </a></div>
    </div>
      <ul id="footer-bar-right-custom" class="list-group list-group-horizontal">
      </ul>
  </div>
  <div id="div_footer_bar" class="container-fluid d-flex justify-content-between">
    <a class="btn btn-secondary" href="{{$contactUrl}}" >
      ✉️Contact
    </a>
    <a class="btn btn-secondary" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
    <div class="btn small border">
      {{ $deducedBuildUrl := replace $contactUrl "issues/new" "actions"}}
      <a href="{{ .Site.Params.build_url| default $deducedBuildUrl }}"><img src="{{ .Site.Params.build_img| default ""}}"> Built </a> on {{ now.Format "2006 Jan 2 15:04:05 MST" }}. (<a href="http://google.com/search?q={{ now.Format "15:04:05 MST" }} to IST">IST</a>)
    </div>
  </div>
</footer>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-33H08JSLQR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-33H08JSLQR');
</script>
