<!-- image -->
<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    {{ $file_name := replaceRE "\\..+" "" (replaceRE "_" " " (replaceRE ".+/" "" (.Get "src"))) }}
    {{ $title := $file_name}}
    {{ if isset .Params "title" }}
    {{ $title := .Get "title" }}
    {{ end }}
    <a href="{{ if .Get "link"}}{{ .Get "link" }}{{else}}{{ .Get "src" }}{{ end }}">
        <img src="{{ .Get "src" }}" alt="{{ with .Get "alt"}}{{.}}{{else}}{{ $title }} {{ with .Get "caption"}} {{ .Get "caption" }} {{ end }}{{ end }}" />
    </a>
    <figcaption>
        {{$title}}
        {{ if or (.Get "caption") (.Get "attribution")}}<p>
        {{ .Get "caption" }}
        {{ with .Get "attribution_link"}}<a href="{{.}}"> {{ end }}
            {{ .Get "attribution" }}
        {{ if .Get "attribution_link"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
</figure>
<!-- image -->
