{{ define "main" }}
<main>
    {{partial "default-content" .}}
    {{ $home := .Site.Home }}
    <div class="css-treeview box">
        {{ template "section-tree-nav" .CurrentSection }}
    </div>
</main>
{{ end }}


{{ define "section-tree-nav" }}
<ul>
    <li><input type="checkbox" id="section-tree-item-{{.Title}}" checked="checked" /><label for="section-tree-item-{{.Title}}">{{.Title}}</label>
        <ul>
            {{ range .Pages.ByDate.Reverse }}
            <li>
                <a href="{{.Permalink}}">{{ if not .Date.IsZero }}{{.Date.Format "2006-01-02"}} | {{ end }}{{.Title}}</a>
            </li>
            {{ end }}
            {{ range .Sections.Reverse}}
            <li>
                {{ template "section-tree-nav" . }}
            </li>
            {{ end }}
        </ul>
    </li>
</ul>
{{ end }}

